<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h1><%= @cocktail.name %></h1>


<%= simple_form_for [ @cocktail, @dose ] do |f| %>
<%= f.association :ingredient %>
<%= f.input :description %>
<%= f.submit "Add Dose", class: "btn btn-success" %>
<% end %>

<% @cocktail.doses.each do |dose| %>
<h4> <%= Ingredient.find(dose.ingredient_id).name %> <%= dose.description %>  </h4>
<p> <%= link_to "Delete", dose_path(dose.id), method: :delete %> </p>
<% end %>

<%= link_to "Home", cocktails_path %>
