
<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <h4>
    <%= Ingredient.find(dose.ingredient_id).name %> <%= dose.description %>
    <%= link_to dose_path(dose.id), method: :delete  do %>
      <i id="trash" class="fas fa-trash"></i>
    <% end %>
  </h4>
  <% end %>
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add Dose", class: "btn btn-success" %>
  <% end %>
</div>
